.forecast-container {
  display: flex;
  flex-direction: column;
  margin: 10% 30% 0;
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid #2a2a2a;
}

.forecast-container__image {
  width: 30%;
  display: block;
  margin: auto;
  background-color: blue;
}
.forecast-container__text {
  margin: auto;
  background-color: olive;
}
