.forecast-container {
  display: flex;
  flex-direction: column;
  margin: 10% 15% 0;
  padding: 0.5rem;
  justify-content: center;
}

.forecast-cointainer___imgcontainer {
  display: block;
  margin: auto;
}

.forecast-container__img {
  max-height: 180px;
  margin: auto;
}

.forecast-container__text {
  margin: 0 15%;
  text-align: center;
  flex: 1;
}

.forecast-container__location {
  background-color: #aca79e;
  color: #fff;
  padding: 1% 0;
  margin: 5% 30%;
}
