h1 {
  padding-left: 4rem;
  padding-top: 1rem;
  font-style: italic;
  color: #5e584d;
}

/* .header {
  display: flex;
  flex-direction: row;
  background-color: #2b2b2b;
  align-items: center;
  justify-content: flex-start;
  color: #2b2b2b;
}

.aux {
  background-color: blue;
  padding-left: 2em;
}
.aux2 {
  background-color: azure;
  padding-left: 2em;
} */
