.weathermenu__container {
  display: flex;
  flex-direction: row;
  margin: 5% 30%;
  justify-content: space-around;
}

.weathermenu_btn {
  background-color: white;
  color: #787976;
  border: none;
  text-align: center;
  font-size: medium;
  cursor: pointer;
  padding: 12px 28px;
}

.weathermenu_btn:hover {
  background-color: #63666a;
  color: white;
}
